[all]
linters = flake8, pylint, yapf, isort, pyroma, safety, bandit, dodgy, pydocstyle, vulture, pytest, pypi

[pypi]
twine_username = abc
twine_password = abc

[flake8]
max-line-length = 79

[pylint]

[yapf]

[isort]
line_length = 79
inplace = false
indent = '    '

[bandit]

[mypy]

[pyroma]

[vulture]
min-confidence = 60

