[all]
linters = flake8, pylint, yapf, isort, pyroma, safety, bandit, dodgy, vulture, pytest, pypi

[pypi]
twine_username = abc
twine_password = abc

[flake8]
max-line-length = 79

[yapf]

[isort]
line_length = 79
indent = '    '

[bandit]

[pyroma]

[vulture]
min-confidence = 60

[unittest]
testpaths=tests
