flake8
flake8-bugbear
flake8-import-order
flake8-tidy-imports
flake8-mypy
flake8-docstrings
flake8-todo
flake8-requirements
flake8-string-format
flake8-bandit

pyroma
pylint
vulture

pydocstyle
yapf
isort

safety
bandit
dodgy

pytest
twine
