flake8
flake8-import-order
flake8-todo
flake8-requirements
flake8-string-format
flake8-bandit
pyroma
pylint
vulture; python_version>='3'
isort
yapf
black; python_version>='3.6.0'
safety
dodgy
pytest
pytest-json
requests
wheel
twine
